<%= simple_form_for(@profile) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user %>
    <%= f.input :is_educator %>
    <%= f.input :is_volunteer %>
    <%= f.input :personal_statement %>
    <%= f.association :organization %>
    <%= f.association :class_session %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
