<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @program.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @program.description %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @program.profile %>
</p>

<p>
  <strong>Class session:</strong>
  <%= @program.class_session %>
</p>

<p>
  <strong>Training record:</strong>
  <%= @program.training_record %>
</p>

<p>
  <strong>Training:</strong>
  <%= @program.training %>
</p>

<%= link_to 'Edit', edit_program_path(@program) %> |
<%= link_to 'Back', programs_path %>
